
body {
    background-color: #F6E5DC;
    font-family: Verdana, sans-serif;
}


.header {
    background-color: #2F180C;
    text-align: center;
    color: khaki;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.left-banner {
    width: 60%;
   position: absolute;
   left: 1000px;
   top: 100px;
   
}


.right-banner {
    font-size: 150%;
   

}


.footer {
    background-color: #D0B6A8;
    
    padding: 30px;
}


.footer-text {
    background-color: #2F180C;
    color: khaki;
    height: 60px;
   
    
    
    
}


.main-rg-img {
    height: 60%;
    width: 350px;
}


.login {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 300px;
    margin: auto;
}
.login-label, .login-input, .login-btn {
    width: 100%;
    margin: 5px 0;
}
.login-btn {
    padding: 10px;
    background-color: #2F180C;
    color: khaki;
    border: none;
    cursor: pointer;
    text-align: center;
}
.login-title {
    text-align: center;
}
